<h1>Locations</h1>

<table>
	<thead>
		<tr>
			<td>Location ID</td>
			<td>Position</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
		<% @locations.each do |location| %>
			<tr>
				<td><%= location.id %></td>
				<td><%= "#{location.latitude},#{location.longitude}" %></td>
				<td><%= location.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>
